.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img {
    width:240px;
    border-radius: 4px;
    cursor:pointer;
}
.card-list .card{
    position: relative;
    }
.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
   text-shadow: #999 0px 0px 5px;
    
}
@media(max-width:800px){
    .title-cards {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .title-cards h2 {
        font-size: 20px;
    }
    .card-list img {
        width: 200px;
    }
    .card-list  p {
        font-size: 12px;
       
    }
}
@media(max-width:800px){
   
    .title-cards h2 {
        font-size: 15px;
    }
    .card-list img {
        width: 165px;
    }
    .card-list  p {
        font-size: 10px;
       
    }
}
.status-msg {
  color: #aaa;
  padding: 1rem;
  text-align: center;
}

.error-msg {
  color: red;
  padding: 1rem;
  text-align: center;
}
.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #e50914; /* Netflix red */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-bottom: 0.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
